@import "../../vars.css";
.container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(100deg,#576cbc 0%,#132a53 100%);
    box-shadow: 0 16px 14px 0 #04152d;
    padding: 10px 20px;
    max-width: 345px;
}
.image{
    margin-bottom: 26px;
    height: 225px;
    border-radius: 10px;
}
.title{
    font-size: 25px;
    font-weight: 700;
}
.description{
    margin-top: 6px;
    font-size: 25px;
    font-weight: 400;
}
.skills{
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
}
.skill{
    font-size: 25px;
    font-weight: 400;
    border-radius: 100px;
    background: var(--color-dark);
    padding: 2px 22px;
}
.links{
    width: 100%;
    margin-top: 26px;
    display: flex;
    justify-content: space-around;
}
.link {
    background: #ffffff;
    color: black;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #000000;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}



.link:hover {
    color: rgb(3, 234, 42);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}
